.informatique li
{
	position:relative;
	display:inline;
	background-color:green;
	color:white;
	padding:5px;
	border-radius:5px;
	font-weight:bold
}
.linguistique li
{
	position:relative;
	display:block;
	background-color:green;
	color:white;
	padding:5px;
	border-radius:5px;
	margin-top:5px;
	width:80px;
	text-align:center;
	font-weight:bold
}
.interet li
{
	position:relative;
	display:inline;
	background-color:#F90;
	color:white;
	padding:5px;
	border-radius:5px;
	font-weight:bold
}
	